<app-menu-bar></app-menu-bar>

<div class="home-container">
  <header class="header">
    <p class="logo">LinkedClone</p>
    <nav class="nav-bar">
      <ul>
        <li><a routerLink="show-posts" routerLinkActive="active">Home</a></li>
        <li><a routerLink="posts" routerLinkActive="active">Add Post</a></li>
        <li><a routerLink="notifications" routerLinkActive="active">Notifications</a></li>
        <li><a routerLink="mynetwork" routerLinkActive="active">My Network</a></li>
      </ul>
    </nav>
  </header>

  <main>
    <div class="search-section">
      <app-search-component></app-search-component>
    </div>

    <hr />

    <section class="router-section">
      <router-outlet></router-outlet>
    </section>
  </main>
</div>
